@import "../../variables.scss";

$padding-small: 1rem;

$table-header-height: 3.25rem;

.file-list {
  max-height: 100%;
  padding: 1rem;
  border-radius: 5px;
  box-sizing: border-box;
  flex: 1;
  background: #fff;
  position: relative;

  .file-table-wrapper {
    overflow: auto;
    max-height: 100%;
    margin-top: $table-header-height;
    box-sizing: border-box;
  }

  .file-table-shadow-shim {
    position: absolute;
    // width: 100%;
    height: $table-header-height;
    z-index: 1;
    // background: transparentize($color: pink, $amount: 0.8);
    top: $padding-small;
    // left: -5px;
    left: -1rem;
    right: -1rem;
    transition: box-shadow .15s ease-in-out;

    &.scrolled {
      box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.0);
    }
  }

  .file-table {
    border-collapse: collapse;
    width: 100%;
    max-height: 100%;

    thead {
      background: $color-background-grey;
      z-index: 1;
    }

    th {
      height: 0;
      line-height: 0;
      padding-top: 0;
      padding-bottom: 0;
      color: transparent;
      border: none;
      white-space: nowrap;

      span {
        position: absolute;
        display: block;
        height: $table-header-height;
        background: #fff;
        padding: 0;
        top: $padding-small;
        color: $color-text;
        box-sizing: border-box;
        line-height: $table-header-height;
        font-size: 1.375rem;
      }
    }

    thead {
      background: #fff;
    }

  }

  tbody tr td {
    background: #fff;
    padding: $padding-small 0 $padding-small 0;
    border-bottom: 1px solid #ccc;
  }
}