@import "../../variables.scss";

$padding-small: 1rem;

$table-header-height: 3.25rem;

.file-list {
  max-height: calc(100% - #{$file-app-header-height} - 2 * 1rem);
  padding: 1rem 0;
  border-radius: 5px;
  box-sizing: border-box;
  flex: 1;
  background: #fff;
  position: relative;

  .file-table-wrapper {
    overflow: auto;
    max-height: 100%;
    margin-top: $table-header-height;
    box-sizing: border-box;
  }

  .file-table-shadow-shim {
    position: absolute;
    // width: 100%;
    height: $table-header-height;
    z-index: 1;
    // background: transparentize($color: pink, $amount: 0.8);
    top: $padding-small;
    // left: -5px;
    left: -1rem;
    right: -1rem;
    transition: box-shadow .15s ease-in-out;

    &.scrolled {
      box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.0);
    }
  }

  .file-table {
    border-collapse: collapse;
    width: 100%;
    max-height: 100%;

    thead {
      background: $color-background-grey;
      z-index: 1;
    }

    th {
      height: 0;
      line-height: 0;
      padding-top: 0;
      padding-bottom: 0;
      color: transparent;
      border: none;
      white-space: nowrap;

      span {
        position: absolute;
        display: block;
        height: $table-header-height;
        background: #fff;
        padding: 0 $padding-small;
        top: $padding-small;
        color: $color-text;
        box-sizing: border-box;
        line-height: $table-header-height;
        font-size: 1.375rem;
      }
    }

    thead {
      background: #fff;
    }

  }

  tbody tr td {
    background: #fff;
    border-bottom: 1px solid #ccc;
    padding: 0;

    &:first-child div {
      flex: 1;
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        background: rgba(0, 0, 0, 0.05);
      }

      .icon {
        margin-right: 1rem;
      }
    }
  }

  tbody tr td .cell-wrapper {
    padding: $padding-small $padding-small $padding-small $padding-small;
	}
	
	tbody tr.dropzone {
		animation-name: drop-flash;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
		animation-delay: 0s;
		animation-play-state: running;
		animation-fill-mode: forwards;
		animation-direction: normal;
		border-radius: 5px;

		td {
			background: transparent !important;
		}
	}

	@keyframes drop-flash {
		0% {
			background-color: rgba(0, 0, 0, 0.05);
		}

		50% {
			background-color: rgba(0, 0, 0, 0.075);
		}

		100% {
			background-color: rgba(0, 0, 0, 0.05);
		}
	}

  tbody tr:last-child td {
    border-bottom: none;
  }
}
