@import "../../variables.scss";

.file-app {
  height: 100vh;
  display: flex;
  align-items: stretch;
  overflow: hidden;

  > .files {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
    max-height: 100%;
    padding: $pageborder-y 1rem;
  }
}