@import "../../variables.scss";

.file-app {
  height: 100vh;
  display: flex;
  align-items: stretch;
  overflow: hidden;

  > .files {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
    max-height: 100%;
    padding: $pageborder-y 1rem;
  }

  .files-header {
    display: flex;
    justify-content: space-between;
    flex: 0 0 auto;
    align-items: center;
    height: $file-app-header-height;
  }
}