@import "../variables";

header.mainsidebar {
	box-sizing: border-box;
	background: $color-primary;
	width: $mainsidebar-width;
	top: 0;
	left: 0;
	bottom: 0;
	height: 100vh;
	position: fixed;
	color: $color-text-light;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	padding: $pageborder-y;

	.logo-container {
		height: $pageborder-y * 2;
		display: flex;
		align-items: center;
	}

	img.logo {
		width: $base-grid-size * 6;
	}

	nav {
		display: flex;
		align-items: center;
		flex-direction: column;
		margin-top: $pageborder-y;

		.app-link {
			margin: .5rem 0 .5rem 0;
			height: 2.25rem;
			width: 2.25rem;
			display: flex;
			align-items: center;
			justify-content: center;
			opacity: .81;
			transition: opacity .15s ease-in-out;

			&.active,
			&:hover {
				opacity: 1;
			}
		}
	}

	> .bottom {
		display: flex;
		flex-direction: column;
		align-items: center;

		> *:first-child {
			height: 2.25rem;
		}

		.popover {
			color: $color-text;

			ul {
				margin: 0;
				padding: 0;
				list-style-type: none;
			}

			li {
				line-height: 3.25rem;
				font-size: 1.375rem;
				height: 3.25rem;

				a, span {
					border-radius: 5px;
					padding: 0 1rem 0 1rem;
					display: flex;
					align-items: center;
					text-decoration: none;
					transition: color .15s ease-in-out, background .15s ease-in-out;
					font-size: inherit;
					margin: 0;
					height: 3.25rem;
					color: inherit;
					cursor: pointer;

					&:hover {
						color: $color-text-heavy;

						svg path {
							fill: $color-text-heavy !important;
						}
					}

					&.active {
						background: rgba(0, 0, 0, 0.06);
						color: $color-primary;

						svg path {
							fill: $color-primary !important;
						}
					}

					svg {
						margin-right: 1rem;
					}
				}
			}
		}
	}
}
