.popover {
	display: block;
	background: white;
	border-radius: 5px;
	padding: 1rem;
	position: absolute;
	box-shadow: 0 5px 14px rgba(0, 0, 0, 0.15);
	background: #fff;
	visibility: hidden;
	pointer-events: none;
	opacity: 0;
	transition: all .2s ease-in-out;
	transform: translateY(-10px);
	min-width: 200px;
	z-index: 100;

	&.visible {
		z-index: 1;
		visibility: visible;
		pointer-events: all;
		opacity: 1;
		transform: translateY(0);
	}

	.popover-closer {
		background: transparent;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
	}

	&.top {
		top: 0;
	}

	&.left {
		left: 0;
	}

	&.right {
		right: 0;
	}
	
	&.bottom {
		bottom: 0;
	}

	&.above {
		bottom: 100%;
	}

	&.below {
		top: 100%;
	}

	&.toRight {
		left: 100%;
	}

	&.toLeft {
		right: 100%;
	}
}
