@import "../variables";

.text-field {
  font-family: $font-stack;
  border: none;
  outline: none;
  background: transparent;
  padding: $base-grid-size * 2 $base-grid-size * 4;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: $base-grid-size * 2;
  height: $base-grid-size * 5;
  font-weight: 500;

  &.dark {
    background: rgba(0, 0, 0, 0.1);
    color: $color-text;
  }

  &.light {
    background: rgba(255, 255, 255, 0.1);
    color: $color-text;
  }
}