@import 'variables';


.App > main {
  margin-left: $mainsidebar-width;
  height: 100vh;
  box-sizing: border-box;
  overflow-y: auto;
}



@media screen and (min-width: 1440px) {
  html {
    font-size: 21.33px;
  }
}