@font-face {
	font-family: 'quicksand';
	font-weight: normal;
	src: url(/fonts/quicksand-medium.ttf);
}

body {
  margin: 0;
  font-family: 'quicksand';
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	font-size: var(--main-font-size-base);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
