@import './variables';

header.mainsidebar {
	box-sizing: border-box;
	background: $color-primary;
	width: $mainsidebar-width;
	top: 0;
	left: 0;
	bottom: 0;
	height: 100vh;
	position: fixed;
	color: $color-text-light;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	padding: $pageborder-y;

	img.logo {
		width: $base-grid-size * 6;
	}
}
