@import 'functions';
// This file holds globally defined variables.

$font-stack: "M PLUS Rounded 1c", "Roboto", "Segoe UI", sans-serif;

$base-grid-size: pxToRem(8px);

$pageborder-y: pxToRem(24px);


$file-app-header-height: pxToRem(48px);


/*
 * Colors
 */

$color-primary: #4468EC;
$color-background-grey: #F0F2F4;

$color-text: rgba(0, 0, 0, .6);
$color-text-heavy: rgba(0, 0, 0, .81);
$color-text-light: rgba(255, 255, 255, 0.6);
$color-text-light-heavy: rgba(255, 255, 255, 0.81);


/*
 * Core Components
 */

$mainsidebar-width: $base-grid-size * 8;