:root {
	--font-size-base: 16px;
	--font-stack-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-stack-mono: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
	--color-primary: hsl(235.7, 100%, 67.3%);
	--color-text-on-primary: hsl(0, 0%, 100%);
	--color-primary-muted: hsl(235.7, 100%, 73.7%);

	--color-negative: hsl(360, 95%, 42%);
	--color-negative-accent: hsl(360, 95%, 94%);

	--color-light-background: hsl(216, 38.5%, 97.5%);
	--color-light-background-alt: hsl(216, 38.5%, 100%);
	--color-dark-background: hsl(216, 38.5%, 11.5%);
	--color-dark-background-alt: hsl(216, 38.5%, 14.5%);

	--color-light-text-primary: hsl(0, 0%, 20%);
	--color-light-text-secondary: hsl(0, 0%, 36%);
	--color-dark-text-primary: hsl(0, 0%, 85%);
	--color-dark-text-secondary: hsl(0, 0%, 74%);

	--color-background: var(--color-light-background);
	--color-background-alt: var(--color-light-background-alt);
	--color-text-primary: var(--color-light-text-primary);
	--color-text-secondary: var(--color-light-text-secondary);

	--color-filetable-fake-shadow: rgba(0, 0, 0, 0.1);

	--shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
	--shadow-md: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	--shadow-lg: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

	--rounded: 0.25rem;
	--rounded-md: 0.375rem;
	--rounded-lg: 0.5rem;
	--rounded-full: 9999px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: var(--color-dark-background);
		--color-background-alt: var(--color-dark-background-alt);
		--color-text-primary: var(--color-dark-text-primary);
		--color-text-secondary: var(--color-dark-text-secondary);
	}
}

body.theme-light {
	--color-background: var(--color-light-background);
	--color-background-alt: var(--color-light-background-alt);
	--color-text-primary: var(--color-light-text-primary);
	--color-text-secondary: var(--color-light-text-secondary);
}

body.theme-dark {
	--color-background: var(--color-dark-background);
	--color-background-alt: var(--color-dark-background-alt);
	--color-text-primary: var(--color-dark-text-primary);
	--color-text-secondary: var(--color-dark-text-secondary);
}

body {
	font-size: var(--font-size-base);
	font-family: var(--font-stack-sans);
	background-color: var(--color-background);
}

code {
	font-family: var(--font-stack-mono);
}
